<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="https://images.squarespace-cdn.com/content/v1/5d2b826185ed9900018b84c6/1567473306152-BVKD1G1S4M2RL79PQ3SY/favicon.ico?format=100w"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>About | Unleash the Archers</title>
</head>
<body class="">
    
    <div class="container-fluid p-0 flex-column">
        <nav class="navbar justify-content-center z25">
            <div>
            <a href="/" class="justify-content-center d-none d-lg-block">
                <img src="images/UTA+Logo+Smoke.png"  alt="UTA logo" class="navLogoImg">
            </a>
            
                <li class="nav-item dropdown  d-lg-none d-xl-none nav-links">
                    <a class="nav-item-menu dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/UTA+Logo+Smoke.png" alt="UTA logo" class="navLogoImg">
                    </a>
                    <ul class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">
                        <li class="nav-item dropdown-item"><a href="/" aria-current="Home">HOME</a></li>
                        <li class="nav-item dropdown-item"><a href="/albums" id="searchHref">ALBUMS</a></li>
                        <li class="nav-item dropdown-item"><a href="/about">ABOUT</a></li>
                        <li class="nav-item dropdown-item"><a href="#">CONTACT US</a></li>
                        <li class="nav-item dropdown-item"><a href="#">CHAT ROOM</a></li>
                    </ul>
                </li>
            
        </div>
            <div class="d-flex d-none d-lg-block ">
            <ul class="nav-links">
                <li class="nav-item"><a href="/" aria-current="Home">HOME</a></li>
                <li class="nav-item"><a href="/albums" id="searchHref">ALBUMS</a></li>
                <li class="nav-item"><a href="/about">ABOUT</a></li>
                <li class="nav-item"><a href="/contact">CONTACT US</a></li>
                <li class="nav-item"><a href="#">CHAT ROOM</a></li>
            </ul>
        </div>
        
        </nav>
    </div>
        <!-- header image -->
        <div class="container-fluid px-0">
            
        <div class="row justify-content-center">
        <div class="col-12 image justify-content-start  flex-column font20">
            <div class=" h2 ">About</div>
            <div>Unleash The Archers were formed in 2007 by front-woman Brittney Slayes, together with her partner and the band’s drummer Scott Buchanan, while attending the University of Victoria on Vancouver Island in British Columbia.  After moving to Vancouver in 2010 the band underwent several lineup changes, but were finally able to cement their unique, genre-blending style of heavy metal with the addition of Grant Truesdell in 2011 and Andrew Kingsley in 2013.  By weaving the aggression of the more extreme genres into the intricacies of traditional heavy metal, UTA have created a sound unlike anything else in the industry.  They embrace a commercial appeal that attracts music lovers of all types while maintaining a heavy edge that remains true to their death metal roots.  Since their inception UTA have always put an emphasis on touring, and travelled the roads by van booking their own North American tours for years before being picked up by an agent in 2016.  Their persistent, hard-working, down-to-earth attitude has garnered media attention all over the world, and their constant engagement on social platforms of all types has allowed for consistent growth and a dedicated, positively engaged fanbase that spans continents. <br>
            UTA have been described as “show-stealers” and “wildly entertaining” by fans and peers alike, and they strive to put on a show that will stick with you long after you’ve left the venue.  Playing music is a passion for the band and this can be seen in their live performance as well as their music videos and writing style.
            UTA are currently signed to Napalm Records in Austria and Ward Records in Japan.  <br>
                
                
                </div>
                <div class="pad">
                Vocals : Brittney Slayes | Drums : Scott Buchanan | Guitar : Grant Truesdell | Guitar : Andrew Kingsley
            </div>
            
            
            
            
        </div>
        </div>
        


        
        
    

    <footer class="container-fluid footspace mb-3 pb-2 row m-0 gx-0 d-flex align-items-bottom justify-content-center">
        <div class="row wide pb-2 pb-md-0 col-md-4 text-center">
            <div class="col-12">© Andrew Hatch 2021</div>
            <div class="col-12 nav-item"><a href="https://github.com/AMHatch/AlbumProject" class="" target="_blank"> Github <i class="fab fa-github-square"></i></a></div>
            
        </div>
    </div>
</footer>
<script src="https://kit.fontawesome.com/b5578a43de.js" crossorigin="anonymous"></script>
</body>
</html>