<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="https://images.squarespace-cdn.com/content/v1/5d2b826185ed9900018b84c6/1567473306152-BVKD1G1S4M2RL79PQ3SY/favicon.ico?format=100w"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Unleash the Archers</title>
</head>
<body>
    <%- include ('partials/navbar.ejs') %>
        <!-- form -->
        <div class="container ">
            <div class="row ">
                <div class="col-sm-12 ">
                    <article class="chat ">
                        <header class="chat-header">
                            <div class="h3 chat-title text-center">UTA Chat</div><!-- chat-title -->
                        </header><!-- chat-header -->
                        <div class="panel panel-default">
                            <div class="panel-body chat-display">
                                <p class="text-muted chat-text text-center">Welcome...add your message using the form below</p>
                            </div><!-- panel-body -->
                        </div><!-- panel-default -->
                        <form name="chatForm" class="form-horizontal chat-form justify-content-center">
                            <div class="form-group col-4">
                                <label for="chat-username" class="col-sm-2  control-label">Name</label>
                                <div class="col-sm-12" >
                                    <input type="text" class="form-control bg-dark text-white" id="chat-username" required
                                        placeholder="...">
                                </div><!-- col-sm-10 -->
                            </div><!-- form-group -->
                            <div class="form-group">
                                <label for="chat-message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <textarea name="text" cols="30" rows="5"  placeholder="Enter a message, then press chat"
                                        class="form-control bg-dark text-white" id="chat-message"  required></textarea> 

                                    </div><!-- input-group -->
                                    <div class="text-end mb-5">
                                        <button id="chat-submit" class="btn btn-dark button" type="submit">Chat</button>
                                    </div>
                                </div><!-- col-sm-10 -->
                            </div><!-- form-group -->
                        </form>
                    </article><!-- article -->
                </div><!-- col-sm-12 -->
            </div><!-- row -->
        </div><!-- container -->
        
            
    <div class="container-fluid">
    <div class="row">
    <div class="col-12 d-none d-lg-block pic-card text-center">
        <img src="/images/bandSeated.png" alt="">
    </div>
    </div>
    </div>
    

    
    

    <footer class="container-fluid footspace mb-3 pb-2 row m-0 gx-0 d-flex align-items-bottom justify-content-center">
        <div class="row wide pb-2 pb-md-0 col-md-4 text-center">
            <div class="col-12">© Andrew Hatch 2021</div>
            <div class="col-12 nav-item"><a href="https://github.com/AMHatch/AlbumProject" class="" target="_blank"> Github <i class="fab fa-github-square"></i></a></div>
            
        </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
<script src="/js/chatClient.js"></script>  
<script src="https://kit.fontawesome.com/b5578a43de.js" crossorigin="anonymous"></script>
</body>
</html>