<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="https://images.squarespace-cdn.com/content/v1/5d2b826185ed9900018b84c6/1567473306152-BVKD1G1S4M2RL79PQ3SY/favicon.ico?format=100w"/>
    <link rel="stylesheet" href="css/styles.css">
    <title>Unleash the Archers</title>
</head>
<body>
    
</body>
</html>